<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tree-detail"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ curso?.title || 'Curso' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-spinner *ngIf="cargando" name="crescent"></ion-spinner>

  <div *ngIf="!cargando">

    <div *ngIf="errorMsg">
      <ion-card>
        <ion-card-content>
          <p>{{ errorMsg }}</p>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-card *ngIf="curso">
      <ion-card-header>
        <ion-card-title>{{ curso?.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>{{ curso?.description }}</p>

        <p *ngIf="curso?.duration">
          <strong>Duración:</strong> {{ curso?.duration }}
        </p>
      </ion-card-content>
    </ion-card>

    <ng-container *ngIf="lessons?.length; else noLessons">
      <ion-card *ngFor="let lesson of lessons">
        <ion-card-header>
          <ion-card-title>{{ lesson?.title }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <div [innerHTML]="lesson?.content"></div>

          <p *ngIf="lesson?.duration">
            <strong>Duración:</strong> {{ lesson?.duration }}
          </p>

        </ion-card-content>
      </ion-card>
    </ng-container>

    <ng-template #noLessons>
      <ion-card>
        <ion-card-content>
          <p>No hay lecciones para este curso.</p>
        </ion-card-content>
      </ion-card>
    </ng-template>

  </div>

</ion-content>
